@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

.siteContainer{
    font-family:'Ubuntu', sans-serif;
    display: grid;
    grid-template-areas:
    "header"
    "nav"
    "main"
    "footer";
    grid-template-rows: 2fr 25px 12fr 1fr;
    width: 100vw;
    height: 100vh;
}

.siteHeader{
    grid-area: header;
    display: block;
    text-align: center;
}

.siteNav{
    display: flex;
    grid-area: nav;
    flex-direction: row;
    background-color: purple;
    text-align: center;
}

.navButton{
    
    display: inline-block;
    padding: 0vh 2vw;
    color: white;
    width: 100%;
    height: 100%;
}
.navButton:hover{
    background-color: rgb(64, 0, 64);
}

.siteMain{
    display: block;
    height: 100%;
    grid-area: main;
    padding: 2vh 4vw;
}

.siteFooter{
    display: block;
    grid-area: footer;
    font-weight: 600;
    font-style: italic;
    text-align: center;
}