@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

.siteContainer{
    font-family:'Ubuntu', sans-serif;
    display: grid;
    grid-template-areas:
    "header"
    "nav"
    "main"
    "footer";
    grid-template-rows: 2fr 25px 12fr 1fr;
    width: 100vw;
    height: 100vh;
}

.siteHeader{
    grid-area: header;
    display: block;
    text-align: center;
}

.siteHeaderTitle{
    color: purple;
}

.siteNav{
    display: flex;
    grid-area: nav;
    flex-direction: row;
    background-color: purple;
    text-align: center;
}

.navButton{
    
    display: inline-block;
    padding: 0vh 2vw;
    color: white;
    width: 100%;
    height: 100%;
}
.navButton:hover{
    background-color: rgb(64, 0, 64);
}

.siteMain{
    display: block;
    height: 100%;
    grid-area: main;
    padding: 2vh 4vw;
}

.siteFooter{
    color: purple;
    display: block;
    grid-area: footer;
    font-weight: 600;
    font-style: italic;
    text-align: center;
}

/*SummaryPage*/
.summaryTopicTitle{
    color: purple;
}

.summaryTopicText{
    display: block;
    margin: 0.5vh 0vw;
    padding: 0vh 1vw;
}

.summaryTopicList{
    list-style-type: disc;
    display: block;
    margin: 0.5vh 0vw;
    padding: 0vh 1vw;
}

/*WorkplacePage*/
.workplaceContainter{
    border: 1px solid purple;
    border-radius: 5px;
    display: block;
    color: black;
    margin: 0.5vh 0vw;
    padding: 0vh 1vw;
}

.workplaceContainterTitle{
    color: purple;
}

.workplaceContainterContent{
    margin: 0vh 2vw;
}

.workplaceContainterMessage{
    color: purple;
}

.workplaceContainterList{
    list-style-type: disc;
}

/*EducationPage*/
.educationContainter{
    border: 1px solid purple;
    border-radius: 5px;
    display: block;
    color: black;
    margin: 0.5vh 0vw;
    padding: 0vh 1vw;
}

.educationContainterTitle{
    color: purple;
}

/*SkillsPage*/
.skillsTitle{
    color: purple;
}

.categoryContainer{
    display: block;
    margin: 0.5vh 0vw;
    padding: 0vh 1vw;
}

.categoryContainerTitle{
    color: purple;
}

.languageContainer{
    display: block;
    margin: 0.5vh 0vw;
    padding: 0vh 1vw;
}

.languageContainerTitle{
    color: purple;
}

/*LinksPage*/
.socialMediaLink{
    background-color: purple;
    border-radius: 15px;
    color: white;
    display: inline-flex;
    font-size: 1.0em;
    text-align: center;
    margin: 0.5vh 0.5vw;
    padding: 0.5vh 1vw;
}

.socialMediaLink:hover{
    background-color: rgb(64, 0, 64);
}
